.secondary-button {
    background: linear-gradient(20deg, #318ff5, #318ff5);
    padding: 9px 12px 8px;
    color: white;
    border: 1px solid #318ff5;
    border-radius: 2px;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.1s;
    cursor: pointer;
    display: block;
    max-width: 150px;
    opacity: 0.5;
    position: absolute;
}

.secondary-button:hover:not(:disabled) {
    border-color: transparent;
    background: linear-gradient(20deg, dodgerblue, cornflowerblue);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px, rgba(0, 0, 0, 0.1) 0px 1px 4px;
}

.left{
    bottom: 2%;
    right: 20%;
}

.right{
    bottom: 2%;
    right: 2%;
}

.bottom{
    bottom: 20%;
    right: 2%;
}

.up{
    bottom: 20%;
    right: 20%;
}